mat-sidenav-container{
    height: 90%;
}
mat-sidenav{
    padding: 16px;
}
mat-sidenav{
    width: 200px;
}
// .side-menu-section{
//     font-size: 16px;
//     font-weight: 500;
//     margin: 12px 2px 12px 2px;
// }

mat-list-item  mat-icon{
    margin-right: 18px;
}