<mat-sidenav-container color="primary">
    <mat-sidenav mode="side" [opened]="isToggle">
        <mat-list>
            <mat-list-item>
                <mat-icon>dashboard</mat-icon>
                <span>Dashbord</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>assignment_turned_in</mat-icon>
                <span>Order</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>toc</mat-icon>
                <span>Menu</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>timeline</mat-icon>
                <span>Timeline</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon>note</mat-icon>
                <span>Note</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            

        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
       
    </mat-sidenav-content>
</mat-sidenav-container>